* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fff;
  line-height: 2em;
}

section:nth-child(1n) {
  background-color: #fff;
}

section:nth-child(2n) {
  background: #F5F3F1;
}

#footer {
  background-color: #fff;
  text-align: center;
}

.design-skill, .webdev-skill, .other-side-content, .work, .reason-card, .experience-card {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
}

.is-fadein {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/*========= typing ===============*/
.TextTyping span {
  display: none;
}

/*cursor*/
.TextTyping::after {
  content: "|";
  animation: typinganime 1s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 300px) {
  body h1 {
    color: #333;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 1%;
    line-height: 60px;
    font-family: Tiempos, "Times New Roman", sans-serif;
  }
  body h2 {
    color: #333;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0%;
    font-family: Tiempos, "Times New Roman", sans-serif;
    text-transform: capitalize;
  }
  body h3 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  body h4 {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0%;
  }
  body p {
    color: #555;
    font-size: 18px;
    letter-spacing: 2%;
    line-height: 25px;
  }
  body .sub-title {
    color: #888;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5%;
    text-transform: uppercase;
  }
  body .btn-text-card {
    color: #E16E36;
  }
  .desktop-header, .home-icon {
    display: none;
  }
  /* humberger-menu start */
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  }
  .burger-btn-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .burger-btn {
    position: fixed;
    display: block;
    right: 32px;
    top: 50px;
    z-index: 3;
  }
  .bar {
    background-color: #888;
    display: block;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    transform: translateX(-50%);
    width: 34px;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%, -12px) rotate(45deg);
    transition: transform 0.3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%, 12px) rotate(-45deg);
    transition: transform 0.3s;
  }
  .noscroll {
    overflow: hidden;
  }
  .nav-wrapper {
    visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
  }
  .header-nav {
    background: #F5F3F1;
    height: 100vh;
    width: 100vw;
    z-index: 2;
  }
  .nav-list {
    list-style: none;
    font-size: 18px;
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  .nav-item {
    margin-bottom: 2em;
    margin-right: 0;
  }
  .nav-item a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #555;
  }
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }
  .nav-wrapper.close {
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  /* humberger-menu end */
  .section1-title-wrap {
    padding: 100px 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: flex-start;
  }
  .section1-title-wrap h1 span {
    color: #E16E36;
  }
  .hero-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .hero-text {
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .under-line {
    box-shadow: inset 0 -9px 0 0 #ffb28d;
  }
  .hero-detail {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .hero-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    justify-content: flex-start;
  }
  .hero-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .hero-link a i {
    color: #e5e5e5;
    font-size: 42px;
  }
  .hero-link .sub-title {
    padding: 8px 21px;
    background-color: #e5e5e5;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
  }
  .hero-img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-image: url("../img/profile2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
  }
  #section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section2-title-content {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .about-text {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 30px;
  }
  .about-text h2 {
    width: 100%;
    text-align: center;
  }
  .section2-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  .design-skill,
  .webdev-skill {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .design-skill-content,
  .webdev-skill-content {
    padding: 30px 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 70vw;
  }
  .icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 30px;
    width: 100%;
  }
  .icon-text span {
    font-size: 42px;
    color: #E16E36;
  }
  .practical,
  .basic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    width: 100%;
  }
  .practical .sub-title,
  .basic .sub-title {
    font-size: 14px;
    letter-spacing: 1%;
  }
  .level-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
  .other-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 100%;
  }
  .other-side h3 {
    text-align: center;
  }
  .other-side-img-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .aside-img-wrap {
    background-image: url("../img/team.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 63% 37% 36% 64%/57% 63% 37% 43%;
    height: 250px;
    width: 250px;
  }
  .other-side-text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .love {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .love .sub-title {
    color: #E16E36;
  }
  .section3-title-content {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  .section3-title-content h2 {
    width: 100%;
    text-align: center;
  }
  .work-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  .work-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-text .sub-title {
    color: #E16E36;
  }
  .work {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    text-decoration: none;
  }
  .work p {
    width: 100%;
    text-align: center;
  }
  .work img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .work:hover {
    opacity: 0.6;
    transition: 0.3s;
  }
  .work-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .strengths-title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .strengths-title-content h2 {
    width: 100%;
    text-align: center;
  }
  .reason-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .reason-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  .reason-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 20px 30px;
  }
  .reason-card-content h3 {
    width: 100%;
    text-align: center;
  }
  .reason-card-content .sub-title {
    color: #E16E36;
  }
  .experience-title-content {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;
  }
  .experience-title-content h2 {
    width: 100%;
    text-align: center;
  }
  .experience-content-wrap,
  .education-content-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .experience-content-wrap h2,
  .education-content-wrap h2 {
    width: 100%;
    text-align: center;
  }
  .experience-card-wrap,
  .education-card-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .experience-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section5-wrap {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  .section5-wrap h2 {
    width: 100%;
    text-align: center;
  }
  .experience-title-content h2 {
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
  }
  .section5-wrap a {
    background-color: #E16E36;
    text-decoration: none;
    color: #fff !important;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #888;
    font-size: 16px;
  }
  .section5-wrap a i {
    padding-right: 10px;
  }
  .section5-wrap a:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  footer {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copy-right {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #bbbbbb;
  }
  .work-detail-main {
    padding: 10vh 0 5vh 0;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    align-items: center;
  }
  .project-detail-title-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .project-detail-link {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
  .project-detail-link a {
    color: #555;
  }
  .project-detail-link a i {
    font-size: 32px;
    color: #e4e4e4;
    text-decoration: none;
  }
  .project-detail-title {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .project-detail-title h3 {
    color: #888;
    text-transform: uppercase;
  }
  .project-detail-text-link {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .project-detail-img-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .work-img1 {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .work-img2 {
    width: 90vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .function-req-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .function-req-wrap h2 {
    width: 100%;
    text-align: center;
  }
  .function-req-wrap ul {
    display: flex;
    flex-direction: column;
    width: 80vw;
    row-gap: 10px;
  }
  .function-req-wrap ul li {
    color: #333;
    font-size: 18px;
  }
  .time-frame-wrap {
    padding: 0 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .time-frame-wrap p {
    width: 100%;
    text-align: center;
  }
  .time-frame-wrap h2 {
    width: 100%;
    text-align: center;
  }
  .role-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    row-gap: 20px;
  }
  .role-wrap h2 {
    width: 100%;
    text-align: center;
  }
  .role-wrap ul {
    display: flex;
    flex-direction: column;
    width: 80vw;
    row-gap: 10px;
  }
  .role-wrap ul li {
    color: #333;
    font-size: 18px;
  }
  .img-with-link-title-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .img-with-link-title-wrap h2 {
    width: 100%;
    text-align: center;
  }
  .img-p-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .img-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .img-link-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
  .img-link-wrap a {
    color: #555;
    width: 100%;
    text-align: left;
  }
  .img-text-title-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .thanks-reading {
    width: 80vw;
    text-align: center;
    padding: 80px 0;
  }
}
@media (min-width: 700px) {
  body h1 {
    color: #333;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 1%;
    line-height: 62px;
    font-family: Tiempos, "Times New Roman", sans-serif;
  }
  body h2 {
    color: #333;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0%;
    font-family: Tiempos, "Times New Roman", sans-serif;
  }
  body h3 {
    color: #333;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0%;
  }
  body h4 {
    color: #555;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0%;
  }
  body p {
    color: #555;
    font-size: 19px;
    letter-spacing: 2%;
    line-height: 26px;
  }
  body .sub-title {
    color: #888;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 6%;
  }
  body .btn-text-card {
    color: #E16E36;
  }
  /* humberger-menu start */
  .burger-btn {
    position: fixed;
    display: block;
    right: 45px;
    top: 60px;
    z-index: 3;
  }
  .bar {
    height: 7px;
    width: 50px;
  }
  .bar_top {
    top: 15px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 15px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%, -18px) rotate(45deg);
    transition: transform 0.3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%, 18px) rotate(-45deg);
    transition: transform 0.3s;
  }
  .nav-list {
    font-size: 19px;
    top: 45%;
  }
  .nav-item {
    margin-bottom: 2em;
  }
  .nav-item a {
    font-size: 28px;
    color: #555;
  }
  .section1-title-wrap {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding: 150px 10vw;
  }
  .hero-detail {
    row-gap: 50px;
  }
  .hero-link {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .hero-link a {
    font-size: 42px;
  }
  .hero-link .sub-title {
    font-size: 16px;
    padding: 5px 20px;
  }
  .hero-wrap {
    height: 300px;
  }
  .hero-img-wrap {
    background-image: url("../img/profile2.png");
    background-size: contain;
    background-position: centert;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  .section2-title-content {
    padding: 10vh 5vw;
    row-gap: 60px;
  }
  .section2-content {
    flex-direction: row;
    height: 450px;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
    justify-content: center;
  }
  .design-skill,
  .webdev-skill {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
  .webdev-skill-content,
  .design-skill-content {
    padding: 50px 25px;
    height: 100%;
    row-gap: 25px;
    width: unset;
    justify-items: flex-start;
  }
  .other-side-img-text-wrap {
    flex-direction: row;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  .other-side-content {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  .aside-img-wrap {
    background-image: url("../img/team.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 63% 37% 36% 64%/57% 63% 37% 43%;
    height: 250px;
    width: 250px;
  }
  .other-side {
    row-gap: 40px;
  }
  .other-side-text {
    width: 50vw;
  }
  .section3-title-content {
    padding: 10vh 10vw;
  }
  .work-card-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 100px;
    height: 100%;
    align-items: flex-start;
  }
  .work {
    width: 35%;
  }
  .work img {
    height: 300px;
    width: 100%;
  }
  .reason-card-wrap {
    row-gap: 40px;
  }
  .reason-card-content {
    padding: 25px 25px 40px 25px;
    row-gap: 30px;
  }
  .strengths-title-content {
    row-gap: 60px;
  }
  .experience-title-content {
    flex-direction: row;
    padding: 10vh 10vw;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  .experience-card-wrap {
    row-gap: 35px;
  }
  .section5-wrap {
    padding: 10vh 10vw;
  }
  .section5-wrap a {
    padding: 12px 18px;
    font-size: 18px;
  }
  #footer {
    font-size: 16px;
    height: 80px;
  }
  .work-img1 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
    width: 90vw;
  }
  .work-img2 {
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: auto;
    height: auto;
    width: 50vw;
  }
  .project-detail-img-link {
    height: 100%;
    width: 90vw;
  }
  .function-req-wrap {
    width: 90vw;
  }
  .function-req-wrap h2 {
    text-align: left;
  }
  .req-time-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .time-frame-wrap h2 {
    text-align: left;
  }
  .time-frame-wrap p {
    text-align: left;
  }
  .role-wrap {
    width: 90vw;
  }
  .role-wrap h2 {
    text-align: left;
  }
  .img-link-wrap {
    align-items: flex-start;
    width: 100%;
    row-gap: 30px;
  }
  .img-with-link-title-wrap {
    width: 90vw;
  }
  .img-with-link-title-wrap h2 {
    width: 100%;
    text-align: left;
  }
  .img-text-title-wrap {
    align-items: flex-start;
  }
  .img-text-title-wrap h2 {
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  body {
    line-height: 2.5em;
  }
  body h1 {
    color: #333;
    font-size: 55px;
    font-weight: 500px;
    letter-spacing: 1%;
    line-height: 64px;
    font-family: Tiempos, "Times New Roman", sans-serif;
  }
  body h2 {
    color: #333;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0%;
    font-family: Tiempos, "Times New Roman", sans-serif;
  }
  body h3 {
    color: #333;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0%;
  }
  body h4 {
    color: #555;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1%;
  }
  body p {
    color: #555;
    font-size: 20px;
    letter-spacing: 2%;
    line-height: 27px;
  }
  body .sub-title {
    color: #888;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 7%;
  }
  body .btn-text-card {
    color: #E16E36;
  }
  .burger-btn {
    display: none;
  }
  header {
    position: fixed;
    background-color: #fff;
    z-index: 999;
    height: 100px;
    padding: 0 10%;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header.UpMove {
    animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-100px);
    }
  }
  header.DownMove {
    animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .desktop-header {
    display: unset;
    width: 85%;
  }
  .desktop-header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
  .desktop-header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  .desktop-header ul li a {
    text-decoration: none;
    color: #888;
    font-size: 20px;
    padding: 5px 10px;
  }
  .desktop-header ul li a:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  .home-icon {
    display: unset;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .send-email-btn-nav {
    background-color: #E16E36;
    text-decoration: none;
    color: #fff !important;
    padding: 8px 10px !important;
    border-radius: 5px;
  }
  .send-email-btn-nav i {
    padding-right: 10px;
  }
  #section1 {
    display: flex;
    justify-content: center;
  }
  .section1-title-wrap {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 10vh;
    width: 850px;
    -moz-column-gap: 10%;
         column-gap: 10%;
    justify-content: space-between;
  }
  .hero-detail {
    row-gap: 65px;
  }
  .hero-link {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .hero-link .sub-title {
    font-size: 16px;
    padding: 5px 25px;
  }
  .hero-link .sub-title:hover,
  .hero-link i:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  .hero-img-wrap {
    background-image: url("../img/profile2.png");
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 400px;
  }
  .section2-title-content {
    width: 850px;
    padding: 10vh 0px;
  }
  .section2-title-content h2 {
    width: 100%;
    text-align: center;
  }
  .section2-content {
    height: 480px;
    justify-content: center;
  }
  .design-skill-content,
  .webdev-skill-content {
    padding: 60px 40px 0 40px;
    row-gap: 30px;
  }
  .design-skill,
  .webdev-skill {
    width: 400px;
  }
  .icon-text span {
    font-size: 50px;
  }
  .level-content {
    row-gap: 15px;
  }
  .reason-card-wrap {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
    height: 600px;
    width: 950px;
  }
  .strengths-title-content {
    justify-content: center;
  }
  .reason-card-content {
    height: 100%;
    padding: 30px 30px;
    justify-content: flex-start;
  }
  .reason-card {
    width: 320px;
    height: 100%;
  }
  .other-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 60px;
  }
  .other-side-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aside-img-wrap {
    background-image: url("../img/team.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 63% 37% 36% 64%/57% 63% 37% 43%;
    height: 300px;
    width: 300px;
  }
  .section3-title-content {
    padding: 100px 10vw;
  }
  .work-card-wrap {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .work {
    width: 30%;
    row-gap: 50px;
  }
  .work img {
    width: 100%;
    height: 300px;
    -o-object-position: 0% 65%;
       object-position: 0% 65%;
  }
  .work-text .sub-title {
    font: 16px;
  }
  .experience-title-content {
    padding: 80px 25%;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .experience-title-content h2 {
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
  }
  .section5-wrap a {
    padding: 15px 20px;
    font-size: 18px;
  }
  #footer .copy-right {
    font-size: 14px;
    height: 20px;
  }
  .work-detail-main {
    padding-top: 150px;
  }
  .project-detail-title {
    width: 50vw;
  }
  .project-detail-title-wrap {
    width: unset;
  }
  .project-detail-img-wrap {
    width: 50vw;
  }
  .project-detail-img-wrap p {
    width: 50vw;
  }
  .work-img1 {
    width: 50vw;
    height: 40vh;
    -o-object-position: 0% 100%;
       object-position: 0% 100%;
  }
  .work-img2 {
    width: 30vw;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .img-link-wrap {
    row-gap: 50px;
  }
  .img-p-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .project-detail-img-link {
    width: 50vw;
  }
  .function-req-wrap,
  .time-frame-wrap,
  .role-wrap,
  .img-with-link-title-wrap,
  .img-text-title-wrap {
    width: 50vw;
    row-gap: 50px;
  }
  .function-req-wrap ul,
  .time-frame-wrap ul,
  .role-wrap ul,
  .img-with-link-title-wrap ul,
  .img-text-title-wrap ul {
    width: 45vw;
    align-items: flex-start;
  }
  .function-req-wrap .thanks-reading,
  .time-frame-wrap .thanks-reading,
  .role-wrap .thanks-reading,
  .img-with-link-title-wrap .thanks-reading,
  .img-text-title-wrap .thanks-reading {
    width: 50vw;
    text-align: center;
    padding: 80px 0;
  }
}/*# sourceMappingURL=style.css.map */