
$defaultFont: -apple-system, BlinkMacSystemFont, sans-serif;
$enFont: Tiempos, 'Times New Roman', sans-serif;
// COLOR
$bgColor: #F5F3F1;
$prColor: #E16E36;
$gray-btn: #e5e5e5;

// C->color
// FS->fontsize
// FW->font-weight
// LS->letter-spacing
// lH->letter-spacing

// m->mobile
// t->tablet
// d->deskTop


// H1
// ---------------------
// Mobile
$h1Cm: #333;
$h1FSm: 52px;
$h1FWm: 600;
$h1LSm: 1%; 
$h1Lhm: 60px;
// Tablet
$h1Ct: #333;
$h1FSt: 52px;
$h1FWt: 600;
$h1LSt: 1%;
$h1Lht: 62px;
// DeskTop
$h1Cd: #333;
$h1FSd: 55px;
$h1FWd: 500px;
$h1LSd: 1%;
$h1Lhd: 64px;
// ---------------------
// H2
// ---------------------
// Mobile
$h2Cm: #333;
$h2FSm: 32px;
$h2FWm: 600;
$h2LSm: 0%; 
// Tablet
$h2Ct: #333;
$h2FSt: 34px;
$h2FWt: 600;
$h2LSt: 0%; 
// DeskTop
$h2Cd: #333;
$h2FSd: 36px;
$h2FWd: 600;
$h2LSd: 0%; 
// ---------------------
// H3
// ---------------------
// Mobile
$h3Cm: #333;
$h3FSm: 20px;
$h3FWm: 600;
$h3LSm: 0%;
// Tablet
$h3Ct: #333;
$h3FSt: 21px;
$h3FWt: 600;
$h3LSt: 0%;
// DeskTop
$h3Cd: #333;
$h3FSd: 22px;
$h3FWd: 600;
$h3LSd: 0%;
// ---------------------
// H4
// ---------------------
// Mobile
$h4Cm: #555;
$h4FSm: 18px;
$h4FWm: 500;
$h4LSm: 0%;
// Tablet
$h4Ct: #555;
$h4FSt: 19px;
$h4FWt: 500;
$h4LSt: 0%;
// DeskTop
$h4Cd: #555;
$h4FSd: 16px;
$h4FWd: 500;
$h4LSd: 1%;
// ---------------------
// P
// ---------------------
// Mobile
$pCm: #555;
$pFSm: 18px;
$pLSm: 2%; 
$pLhm: 25px; 
// Tablet
$pCt: #555;
$pFSt: 19px;
$pLSt: 2%; 
$pLht: 26px; 
// DeskTop
$pCd: #555;
$pFSd: 20px;
$pLSd: 2%; 
$pLhd: 27px; 
// ---------------------
// SUB-TITLE
// ---------------------
// Mobile
$subTitleCm: #888;
$subTitleFSm: 18px;
$subTitleLSm: 5%; 
$subTitleFWm: 600; 
// Tablet
$subTitleCt: #888;
$subTitleFSt: 19px;
$subTitleLSt: 6%; 
$subTitleFWt: 600; 
// DeskTop
$subTitleCd: #888;
$subTitleFSd: 20px;
$subTitleLSd: 7%; 
$subTitleFWd: 600; 
// ---------------------

