@media (min-width: 300px) {
  body {
    @include mobileFont;
  }

  .desktop-header, .home-icon {
    display: none;
  }

  // ---------------------
  /* humberger-menu start */
  // --------------------
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  }

  .burger-btn-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .burger-btn {
    position: fixed;
    display: block;
    right: 32px;
    top: 50px;
    z-index: 3;
  }

  .bar {
    background-color: #888;
    display: block;
    height: 5px;
    border-radius: 10px;
    // left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 34px;
  }

  .bar_top {
    top: 10px;
  }

  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);

  }

  .bar_bottom {
    bottom: 10px;
  }

  .burger-btn.close .bar_top {
    transform: translate(-50%, -12px) rotate(45deg);
    transition: transform 0.3s;
  }

  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .burger-btn.close .bar_bottom {
    transform: translate(-50%, 12px) rotate(-45deg);
    transition: transform 0.3s;
  }

  .noscroll {
    overflow: hidden;
  }

  .nav-wrapper {
    visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
  }

  .header-nav {
    background: $bgColor;
    height: 100vh;
    width: 100vw;
    z-index: 2;
  }

  .nav-list {
    list-style: none;
    font-size: $h4FSm;
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .nav-item {
    margin-bottom: 2em;
    margin-right: 0;

    a {
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      color: $pCm;
    }

  }

  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }

  .nav-wrapper.close {
    opacity: 0.3;
    transition: opacity 0.3s;
  }

  // ---------------------
  /* humberger-menu end */
  // --------------------

  // SECTION1
  .section1-title-wrap {
    padding: 100px 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: flex-start;

    h1 span {
      color: $prColor;
    }
  }

  .hero-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .hero-text {
    color: #555;
    font-family: $defaultFont;
  }


  .under-line {
    box-shadow: inset 0 -9px 0 0 #ffb28d;
  }

  .hero-detail {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .hero-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    justify-content: flex-start;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      i {
        color: $gray-btn;
        font-size: 42px;
      }
    }

    // resume btn
    .sub-title {
      padding: 8px 21px;
      background-color: $gray-btn;
      font-size: 14px;
      text-decoration: none;
      border-radius: 5px;
    }
  }

  .hero-img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-image: url("../img/profile2.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
 
    height: 300px;
    width:100%;
    // img {
    //   height: 100%;
    //   width: 160px;
    //   object-fit: cover;
    // }
  }




  // SECTION2

  #section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section2-title-content {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .about-text {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 30px;

    h2 {
      width: 100%;
      text-align: center;
    }

  }

  .section2-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  .design-skill,
  .webdev-skill {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    // border-radius: 5px;
  }

  .design-skill-content,
  .webdev-skill-content {
    padding: 30px 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 70vw;


  }

  .icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 30px;
    width: 100%;

    span {
      font-size: 42px;
      color: $prColor;

    }
  }

  .practical,
  .basic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    width: 100%;

    .sub-title {
      font-size: 14px;
      letter-spacing: 1%;
    }
  }

  .level-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  .other-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 100%;

    h3 {
      text-align: center;
    }

  }

  .other-side-img-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .aside-img-wrap {
    background-image: url("../img/team.jpg");
    background-size:cover;
    background-position: center;
    border-radius: 63% 37% 36% 64% / 57% 63% 37% 43% ;
    height: 250px;
    width: 250px;
  }

  .other-side-text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .love {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .sub-title {
      color: $prColor;
    }
  }



  // SECTION3
  .section3-title-content {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .work-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  .work-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sub-title {
      color: $prColor;
    }
  }

  .work {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    text-decoration: none;

    p {
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .work:hover {
    opacity: 0.6;
    transition: .3s;
    }
  
  


  .work-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }


  // MY STRENGTHS
  .strengths-title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .reason-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .reason-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    // border-radius: 5px;
  }

  .reason-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 20px 30px;

    h3 {
      width: 100%;
      text-align: center;
    }

    .sub-title {
      color: $prColor;
    }
  }

  // SECTION5
  .experience-title-content {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .experience-content-wrap,
  .education-content-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .experience-card-wrap,
  .education-card-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .experience-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section5-wrap {
    padding: 60px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;

    h2 {
      width: 100%;
      text-align: center;
    }



  }

  .experience-title-content {
    h2 {
      padding-bottom: 30px;
      border-bottom: 1px solid #e4e4e4;
    }
  }

  // SECTION 6 
  .section5-wrap {
    a {
      background-color: $prColor;
      text-decoration: none;
      color: #fff !important;
      padding: 10px 15px;
      border-radius: 5px;
      text-decoration: none;
      color: $subTitleCd;
      font-size: 16px;

      i {
        padding-right: 10px;
      }

    }

    a:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  // FOOTER
  footer {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy-right {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #bbbbbb;
  }


  // DETAIL PAGE WORK1

  .work-detail-main {
    padding: 10vh 0 5vh 0;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    align-items: center;
  }

  .project-detail-title-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;

  }

  .project-detail-link {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;

    a {
      color: #555;
    }

    a i {
      font-size: 32px;
      color: #e4e4e4;
      text-decoration: none;
    }

  }

  .project-detail-title {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h3 {
      color: #888;
      text-transform: uppercase;
    }
  }

  .project-detail-text-link {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .project-detail-img-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

  }


  .work-img1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .work-img2 {
    width: 90vw;
    // height: 300px;
    object-fit: contain;
  }


  // Functional requirement
  .function-req-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;

    h2 {
      width: 100%;
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 80vw;
      row-gap: 10px;
    }

    ul li {
      color: #333;
      font-size: 18px;
    }
  }

  // time frame 

  .time-frame-wrap {
    padding: 0 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    p {
      width: 100%;
      text-align: center;
    }

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  // my-role-wrap
  .role-wrap {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    row-gap: 20px;

    h2 {
      width: 100%;
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 80vw;
      row-gap: 10px;
    }

    ul li {
      color: #333;
      font-size: 18px;

    }
  }

  .img-with-link-title-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .img-p-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .img-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .img-link-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;

    a {
      color: #555;
      width: 100%;
      text-align: left;
    }

  }

  .img-text-title-wrap {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .thanks-reading {
    width: 80vw;
    text-align: center;
    padding: 80px 0;
  }



}